*{
    margin: 0;
    padding: 0;
}
header{

}
.header{
background-color: aqua;
text-align: center;
height: 100px;
}
.header h1{
padding: 30px;
}
.nav{
background-color: brown;
height: 100px;
text-align: center;
}
.nav h1{
    color: white;
padding: 30px;
}
.article{
    height: 500px;
    overflow: hidden;
}
.left{
    background-color: teal;
    width: 70%;
    float: left;
    height: 500px;
}
.aside{
    background-color: tomato;
    width: 30%;
    float: right;
    height: 500px;
    text-align: center;
}
.aside h1{
    color: white;
    padding: 220px;
}
.top{
    height: 50%;
    background-color: violet;
    text-align: center;
}
.top h1{
    padding: 100px
}
.bottom{
    background-color: teal;
    height: 50%;
    text-align: center;
}
.bottom h1{
    padding: 100px
}
footer{
    background-color: rgb(5, 255, 159);
    height: 100px;
    text-align: center;
}
footer h1{
    padding: 30px;
}